.paperContainer {
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;

  @media screen and (max-width: 960px) {
    width: 100%;
  }

  & p{
    margin-bottom: 10px;
  }

  & a {
    text-decoration: none;
    color: #036bc5;
  }

  .TextField {
    margin: 10px 0;
  }

  & button {
    height: 56px;
    margin-top: 5px;
  }
}