.AppBar {
  margin-bottom: 20px;
  padding: 10px 0;

  .Toolbar{
    display: flex;

    @media screen and (max-width: 627px){
      flex-flow: column wrap;
      align-items: start;
    }

    .heading{
      font-size: 24px;
      flex-grow: 1;
      margin-right: 10px;
    }

    .addItemContainer{
      flex-grow: 30;
    }

    .logoutButton{
      flex-grow: 1;
      height: 56px;
      margin-top: 5px;
    }
  }


}
