.navigationBar {
  margin-bottom: 20px;
  padding: 10px 0;
  background-color: rgba(40, 42, 46, 0.3);

  .heading{
    font-size: 24px;
    flex-grow: 1;
  }

  .addItemFromContainer{
    width: 300px;
    flex-grow: 25;
  }

  .logoutButton{
    flex-grow: 2;
    height: 56px;
  }
}
